<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuchangan.mapper.DietMapper">
    <select id="getDietFoods" resultType="com.xuchangan.pojo.DietFoodView" parameterType="map">
        SELECT
        real_name,
        diet_date,
        meal_type,
        food_name,
        quantity,
        image_path
        FROM diet_food_view
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            user_id = #{userId}
            <if test="dietDate != null">
                AND diet_date = #{dietDate}
            </if>
            <if test="mealType != null and mealType != ''">
                AND meal_type = #{mealType}
            </if>
        </trim>
        ORDER BY diet_date DESC
    </select>

    <!--  数据库中有user_id、diet_date、meal_type联合索引  -->
    <select id="getDistinctMeals" resultType="com.xuchangan.pojo.Diet">
        SELECT DISTINCT diet_date, meal_type
        FROM diet_food_view
        WHERE user_id = #{userId}
        <if test="dietDate != null">
            AND diet_date = #{dietDate}
        </if>
        <if test="mealType != null and mealType != ''">
            AND meal_type = #{mealType}
        </if>
        ORDER BY diet_date DESC, FIELD(meal_type, '加餐', '晚餐', '午餐', '早餐')
    </select>
    <select id="getDietExerciseDiary" resultType="com.xuchangan.pojo.DietExerciseDiary">
        select * from diet_exercise_diary
        <where>
            user_id=#{userId}
            <if test="diaryDate!=null">
                and diary_date=#{diaryDate}
            </if>
        </where >
        order by diary_date desc
    </select>

    <select id="getDietNutrientIntake" resultType="com.xuchangan.pojo.DietNutrientIntake">
        SELECT
        dfv.real_name,
        dfv.diet_date,
        dfv.meal_type,
        fnv.nutrient_name,
        ROUND(SUM(dfv.quantity / 100.0 * fnv.amount), 2) AS intake_amount
        FROM diet_food_view dfv
        JOIN food_nutrient_view fnv ON dfv.food_name = fnv.food_name
        <where>
            dfv.user_id = #{userId}
            <if test="dietDate != null">
                AND dfv.diet_date = #{dietDate}
            </if>
            <if test="mealType != null and mealType != ''">
                AND dfv.meal_type = #{mealType}
            </if>
        </where>
        GROUP BY
        dfv.real_name,
        dfv.diet_date,
        dfv.meal_type,
        fnv.nutrient_name
    </select>

    <select id="getNutrientSufficient" resultType="com.xuchangan.pojo.NutrientSufficient">
        SELECT
            dfv.real_name,
            dfv.diet_date,
            fnv.nutrient_name,
            ROUND(SUM(dfv.quantity / 100.0 * fnv.amount), 2) AS intake_amount,
            ns.recommend_amount,
            ns.unit,
            CASE
                WHEN ROUND(SUM(dfv.quantity / 100.0 * fnv.amount), 2) >= ns.recommend_amount THEN '是'
                ELSE '否'
                END AS is_sufficient
        FROM diet_food_view dfv
                 JOIN food_nutrient_view fnv ON dfv.food_name = fnv.food_name
                 JOIN nutrient_standard ns ON ns.nutrient_id = fnv.nutrient_id
        WHERE
            ns.gender = #{gender}
          AND #{age} BETWEEN ns.age_min AND ns.age_max
          AND dfv.diet_date = #{dietDate}
          AND ns.pregnancy = #{pregnancy}
          AND ns.lactation = #{lactation}
        GROUP BY
            dfv.real_name,
            dfv.diet_date,
            fnv.nutrient_name,
            ns.recommend_amount,
            ns.unit
    </select>


</mapper>