<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuchangan.mapper.HealthMapper">

    <select id="getReports" resultType="com.xuchangan.pojo.HealthReport">
        select * from health_report
        <where>
            user_id = #{userId}
            <if test="recordDate != null">
                and DATE(record_time) = #{recordDate}
            </if>
        </where>
    </select>

    <select id="getUserHealthList" resultType="com.xuchangan.pojo.UserHealthView">
        select *
        from user_health_view
        <where>
            user_id = #{userId}
            <if test="startDate!=null">
                and record_date &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and record_date &lt;= #{endDate}
            </if>
        </where>
    </select>

</mapper>