<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuchangan.mapper.NutrientMapper">
    <select id="list" resultType="com.xuchangan.pojo.Nutrient">
        select *
        from nutrient
        <where>
            <if test="nutrientName!=null and nutrientName!=''">
                name = #{nutrientName}
            </if>
        </where>
    </select>

    <select id="getSupplyRecommend" resultType="com.xuchangan.pojo.NutrientRecommendDTO">
        select
            n.name as nutrient_name,
            ns.recommend_amount
        from nutrient_standard ns
        join nutrient n on ns.nutrient_id = n.nutrient_id
        where ns.gender=#{gender}
          and #{age} between ns.age_min and ns.age_max
    </select>

    <select id="getFoodNutrient" resultType="com.xuchangan.pojo.FoodNutrient">
        select *
        from food_nutrient_view
        <where>
            food_name = #{foodName}
            <if test="nutrientName!=null and nutrientName!=''">
                and nutrient_name = #{nutrientName}
            </if>
        </where>
    </select>
</mapper>
